* {
    box-sizing: border-box;
}

.contact_list_container {
     display: flex;
     flex-direction: column;
     gap: 20px;

     background-color: #ffffff;

     width: 20%;
}

.svg_container {
     background-color: rgb(163, 163, 163);
     width: 100%;
     height: 10%;
     display: flex;
     padding: 10px;
     justify-content: space-between;
     align-items: center;

}
.svg_apart{
     display: flex;
     flex-direction: row ;
     gap: 20px;

}
.contact_list_container img {
     width: 50px;
     height: 50px;
     object-fit: cover;
     border-radius: 50%;
     border: 1px solid #1de91d;
}

.contact_card {
     display: flex;
     flex-direction: row;
}

.contact_card_details {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
     margin-left: 10px;
}
.ultima_conexion{
     word-wrap: break-word;
     overflow-wrap: anywhere;
}
@media (max-width: 918px) {
   .contact_list_container {
    display: none;
}
}