.details_container {
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 100%;
     height: 100%;
}

.seleccionador_contactos{        
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     background-color: #14992a;
     border-radius: 20px;
}
.messages_container {
    flex-grow: 1;    
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.text_area {
    padding: 15px;
    background: #eee;
    display: flex;
    gap: 10px;
    align-items: center;
}