.details_container {
     display: flex;
     flex-direction: column;
     gap: 20px;
     width: 100%;
     max-width: 100%;

     overflow-x: hidden;
     height: 100%;
     padding: 0%;
     flex-shrink: 0;
}

.svg_part {
     display: flex;
     justify-content: flex-end;

     height: 100%;

}

.seleccionador_contactos {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     background-color: #14992a;
     border-radius: 20px;
}

.messages_container {
     flex-grow: 1;
     overflow-x: hidden;
     overflow-y: auto;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     max-width: 100%;
     box-sizing: border-box;
     width: 100%;
     min-width: 0;
}

.messages_by_else {
     display: flex;
     flex-direction: column;
     align-self: flex-start;
     /* El globo a la izquierda */
     background-color: #2694dd;
     width: fit-content;
     max-width: 80%;
     word-wrap: break-word;
     overflow-wrap: anywhere;
     border-radius: 20px;
     padding: 10px;
     margin-top: 20px;




}

.message_by_me {

     max-width: 80%;
     align-self: flex-end;
     border-radius: 20px;
     padding: 10px;
     background-color: #6298ad;
     word-wrap: break-word;
     overflow-wrap: anywhere;
     white-space: pre-wrap;


}

.data_container {
     display: flex;
     flex-direction: row;
     gap: 5px;
      background-color: rgb(163, 163, 163);
     width: 100%;
     gap: 30px;
     height: 10%;

}

.text_area {
     display: flex;
     gap: 10px;
     padding: 20px;
     background-color: #ebf1ed;
     border-radius: 20px;
     align-items: flex-end;
     justify-self: flex-end;
     margin-top: auto;
}

.screen_details {

     height: 100vh;
 
     flex: 1;
     
     display: flex;
     flex-direction: column;
     background-color: rgba(213, 224, 223, 0.925);
}
@media (max-width: 600px) {
    .messages_container {
        gap: 10px; /* Menos espacio en celulares */
        padding: 10px;
    }
}
@media (max-width: 1202px) {
   .details_container {
     padding: 0%;
    min-width: fit-content;
    width: 100%;
    overflow: hidden;
}
}
@media (max-width: 222px) {
   .details_container {
     padding: 0%;
    min-width: fit-content;
    width: 100%;
    overflow: hidden;
}
}