* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.app-container {
     display: flex;
     height: 100vh;
     
}

.layout-principal,
.vista-chat {
     display: flex;
     width: 100vw;
     height: 100vh;
}



.desktop-only-placeholder,
.details_container {
     flex: 1;
     display: flex;
     flex-direction: column;
}

.desktop-only-placeholder {
 
     justify-content: center;
     align-items: center;
     background-color: #f0f2f5;
     font-size: 24px;
}

.details_container img {
     width: 50px;
     height: 50px;
     object-fit: cover;
     border-radius: 50%;
}

.text_area_input {
     flex: 1;
     padding: 10px;
     border-radius: 20px;
     border: 1px solid #ccc;
}
.logo-container{
     display: flex;
     justify-content: center;
     align-items: center;
     
}
.whatsapp-logo {
  display: flex ; 
  width: 10% ;  
  height: auto ;   
  visibility: visible ;
  opacity: 1 ;  }

@media (max-width: 768px) {
.layout-principal,
  .vista-chat {
    display: flex !important;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
  }

 
  .hide-on-mobile {
    display: none !important;
  }

  
  .contact_list_container {
    width: 100vw !important;
    height: 100vh;
    flex: 1;
  }

  .details_container {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    flex-direction: column;
    flex: 1;
  }


  .desktop-only-placeholder {
    display: none !important;
  }

}